<mat-list>
    <mat-form-field>
        <input matInput
               type="text"
               placeholder="Feed name"
               [(ngModel)]="newFeed.name">
    </mat-form-field>
    <mat-form-field *ngIf="newFeed.name">
        <input matInput
               type="text"
               placeholder="Feed url"
               [(ngModel)]="newFeed.url">
        <button mat-button
                *ngIf="newFeed.url"
                matSuffix
                mat-icon-button
                aria-label="send"
                (click)="this.newFeedEvent.emit(newFeed)">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
    <button mat-button
            *ngFor="let source of sources"
            [ngStyle]="{ 'font-weight': isSelected(source)}"
            (click)="this.feedSelectEvent.emit(source)">
        <span class="source-name">{{ source.name }}</span>
    </button>
</mat-list>