#feed-list {
    grid-area: feeds;
}

#source-list {
    grid-area: sources;
}

:host {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 20vw 75vw;
    grid-template-areas: 
    "sources feeds"
}