<div *ngFor="let feed of feeds">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{feed.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a href="{{feed.link}}"
               target="_blank">Open Article</a>
            <span [innerHTML]="feed.content"></span>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<mat-spinner id="loading-spinner" *ngIf="feedsLoading"></mat-spinner>